/* Estilos globales y fondo con los colores de la bandera de España */
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(0deg, #aa1e23 33%, #f1bf00 33%, #f1bf00 66%, #aa1e23 66%);
    margin: 0;
    color: white;
}

/* Estilo principal de la calculadora */
.calculator {
    background-color: #333;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
    width: 440px; /* Aumentado el ancho de la calculadora */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo de la pantalla */
.display {
    width: 100%;
    height: 60px;
    background-color: #000;
    color: #0ff;
    text-align: right;
    font-size: 2rem;
    border: none;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
}

/* Estilo del contenedor de botones */
.buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    width: 100%;
}

/* Estilo de los botones numéricos */
.button {
    background-color: #444;
    color: white;
    border: none;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    cursor: pointer;
}


/* Botones de operadores con colores destacados */
.button.operator {
    background-color: #ff0000; /* Cambiado a rojo */
    color: white;
}

.button.operator:active {
    background-color: #d84315;
}

/* Efecto hover para los botones */
.button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

/* Estilos para la nueva columna de botones trigonométricos */
.trigonometry {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 15px;
}

.trigonometry button {
    width: 100%;
    height: 70px;
    font-size: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,  0, 0, 0.3);
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    cursor: pointer;
}

.trigonometry button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.trigonometry button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* Estilo para el título de información */
#info {
    font-size: 1.5rem;
    margin-top: 20px;
    text-align: center;
    color: #aaa;
    cursor: help;
}

#info:hover {
    color: #fff;
}